{% extends "base.html"%}

{%block content %}
<main class="main main--about">
  <p>
    Civil engineer with a master's degree in structural engineering.
    My interests extend to various topics from building vulnerability,
    structural monitoring and model optimisation and finite element modelling and a passion for programming, software development and machine learning.
    My work experience allowed me to join software development and my knowledge in engineering in projects to develop software, UIs, web applications and
    databases in different fields of applications (Civil Structures and Infrastructures, Greenhouse, Indoor air quality, Defence, and others).

  </p>
  <p>
    I have good communication skills and I am used to talking to clients.
    I prefer working in close collaboration with colleagues and in teams and I have marked organisational and managerial skills acquired by leading work packages of large projects.
    I am keen to learn and acquire new experiences.  My hobbies range from music to climbing and running. Former football player.

  </p>
</main>

{% endblock %}