{% extends "base.html"%}

{%block content %}
<main class="main main--about">
  <dl>
    <div class="contact">
      <dt>Email:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="mailto:morohaki@gmail.com">
          morohaki [at] gmail.com
        </a>
      </dd>
    </div>

    <div class="contact">
      <dt>Github:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="https://github.com/morettid">
          @morettid
        </a>
      </dd>
    </div>

    <div class="contact">
      <dt>LinkedIn:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="https://www.linkedin.com/in/moretti-davide/">
          moretti-davide
        </a>
      </dd>
    </div>

  </dl>
</main>

{% endblock %}
